.page-title {
  font-family: var(--ff-accent);
  font-size: var(--fs-700);
  margin-block: 4rem 1.5rem;
}

.subtitle {
  font-size: var(--fs-400);
}

.button {
  color: inherit;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  background: var(--clr-green-25);
  padding: 1em 2em;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
  box-shadow: 0 0.25rem 0 rgb(0 0 0 / 0.08);
}

.button:hover,
.button:focus {
  color: var(--clr-surface);
  background: var(--clr-blue-50);
}

.wrapper {
  width: min(100% - 2rem, 55rem);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 3rem;
}

@media (min-width: 720px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.pricing {
  padding: 0;
  margin-block: 3rem;
  list-style: none;
}

.plan {
  position: relative;
  display: grid;
  justify-content: start;
  gap: 1rem;
  background: var(--clr-white);
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.122);
}

.plan__icon {
  font-size: 2.5rem !important;
}

.plan__title {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.plan__price {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
}

.plan__price span {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}

.plan > .button:last-child {
  margin-block-start: 2rem;
}

.plan::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  translate: -1.25rem -1.25rem;
  border-radius: inherit;
}

.plan--basic::before {
  background-color: var(--clr-red-25);
}

.plan--professional::before {
  background-color: var(--clr-green-25);
}

.plan--premium::before {
  background-color: var(--clr-blue-25);
}

.plan--basic .plan__icon {
  color: var(--clr-red-50);
}

.plan--professional .plan__icon {
  color: var(--clr-green-50);
}

.plan--premium .plan__icon {
  color: var(--clr-blue-50);
}
