<div class="row px-5">
    <div class="col">
        <h1 class="page-title text-center">Custom Properties</h1>
        <ul class="even-columns pricing">

            <li class="plan plan--basic">
                <i class="plan__icon fa-regular fa-paper-plane"></i>
                <div>
                    <h2 class="plan__title">Basic</h2>
                    <p>Up to 100Mbit/s</p>
                </div>
                <p class="plan__price">70.00 <span>/month</span></p>
                <button class="button">Add subscription</button>
            </li>

            <li class="plan plan--professional">
                <i class="plan__icon fa-solid fa-paper-plane"></i>
                <div>
                    <h2 class="plan__title">Professional</h2>
                    <p>Up to 150Mbit/s</p>
                </div>
                <p class="plan__price">90.00 <span>/month</span></p>
                <button class="button">Add subscription</button>
            </li>

            <li class="plan plan--premium">
                <i class="plan__icon fa-solid fa-plane-circle-check"></i>
                <div>
                    <h2 class="plan__title">Premium</h2>
                    <p>Up to 200Mbit/s</p>
                </div>
                <p class="plan__price">100.00 <span>/month</span></p>
                <button class="button">Add subscription</button>
            </li>

        </ul>
    </div>
</div>
