<div [formGroup]="cFormGroup">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h5 class="mb-3">Contact Person</h5>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Forename</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName"
                   name="firstName">
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Surname</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName"
                   name="lastName">
        </div>
    </div>
</div>
