:host {
  --clr-white: #ffffff;
  --clr-surface: #F5F6FAFF;
  --clr-text: #161433FF;

  /* font families */
  --ff-base: "IBM Plex Sans", sans-serif;
  --ff-accent: "Young Serif", serif;

  /* font weights */
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  /* font sizes */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
}
.theme {
  --bg: var(--clr-surface);
  --button-text: var(--clr-blue-75);
  --button-text-hover: var(--clr-white);
  --button-bg: var(--clr-surface);
  --button-bg-hover: var(--clr-surface);
}


.page-title {
  font-family: var(--ff-accent);
  font-size: var(--fs-700);
  margin-block: 4rem 1.5rem;
}

.subtitle {
  font-size: var(--fs-400);
}

.button {
  color: inherit;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  background: var(--clr-surface);
  padding: 1em 2em;
  border: 0;
  border-radius: 100vw;
  cursor: pointer;
  box-shadow: 0 0.25rem 0 rgb(0 0 0 / 0.08);
}

.button:hover,
.button:focus {
  color: var(--clr-surface);
  background: var(--clr-blue-50);
}

.wrapper {
  width: min(100% - 2rem, 55rem);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 3rem;
}

@media (min-width: 720px) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.pricing {
  padding: 0;
  margin-block: 3rem;
  list-style: none;
}

.plan {
  --_shadow: var(--shadow,var(--clr-red-25));
  --_icon: var(--icon, var(--clr-red-50));
  --_button-hover: var(--button-hover, var(--clr-blue-25));
  position: relative;
  display: grid;
  justify-content: start;
  gap: 1rem;
  background: var(--clr-white);
  padding: 2rem;
  border-radius: 0.75rem;
  //box-shadow: 0 0 1rem rgb(0 0 0 / 0.122);
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.122), -1rem -1rem 0 0 var(--_shadow);
}

.plan__icon {
  font-size: 2.5rem !important;
  color: var(--_icon);
}

.plan__title {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.plan__price {
  font-size: var(--fs-600);
  font-weight: var(--fw-black);
}

.plan__price span {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}

.plan > .button:last-child {
  margin-block-start: 2rem;
}

.plan--basic {
  --shadow: var(--clr-red-25);
  --icon: var(--clr-red-50);
  --button-hover: var(--clr-red-50);
}

.plan--professional {
  --shadow: var(--clr-green-25);
  --icon: var(--clr-green-50);
  --button-hover: var(--clr-green-50);
}

.plan--premium {
  --shadow: var(--clr-blue-25);
  --icon: var(--clr-blue-50);
  --button-hover: var(--clr-blue-50);
}

.plan .button:hover,
.plan .button:focus {
  background-color: var(--_button-hover);
}
