/* You can add global styles to this file, and also import other style files */
:root {
  /* colors */
  --clr-white: #ffffff;
  --clr-surface: #F5F6FAFF;
  --clr-text: #161433FF;

  /* Red Shades */
  --clr-red-100: #FF0000;
  --clr-red-90: #FF0000E5;
  --clr-red-75: #FF0000BF;
  --clr-red-50: #FF000080;
  --clr-red-25: #FF000040;
  --clr-red-15: #FF000026;
  --clr-red-10: #FF00001A;
  --clr-red-5:  #FF00000D;
  --clr-red-2-5: #FF000006;

  /* Green Shades */
  --clr-green-100: #00FF00;
  --clr-green-90: #00FF00E5;
  --clr-green-75: #00FF00BF;
  --clr-green-50: #00FF0080;
  --clr-green-25: #00FF0040;
  --clr-green-15: #00FF0026;
  --clr-green-10: #00FF001A;
  --clr-green-5:  #00FF000D;
  --clr-green-2-5: #00FF0006;

  /* Blue Shades */
  --clr-blue-100: #0000FF;
  --clr-blue-90: #0000FFE5;
  --clr-blue-75: #0000FFBF;
  --clr-blue-50: #0000FF80;
  --clr-blue-25: #0000FF40;
  --clr-blue-15: #0000FF26;
  --clr-blue-10: #0000FF1A;
  --clr-blue-5:  #0000FF0D;
  --clr-blue-2-5: #0000FF06;


  /* font families */
  --ff-base: "IBM Plex Sans", sans-serif;
  --ff-accent: "Young Serif", serif;

  /* font weights */
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  /* font sizes */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
}

body {
  background: var(--clr-surface);
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-size: var(--fs-300);
}